.body1 {
    background-color: rgb(223, 31, 31);
    margin: 0px;
    color: white;
}

.homeImage {
    width: 350px;
    height: 350px;
    padding-top: 30px;
}

.image {
    width: 350px;
    height: 350px;
    padding-top: 30px;
}

.p1 {
    padding-right: 20%;
}

.nav ul {
    list-style-type: none;
    background-color: rgb(1, 172, 38);
    padding-left: 850px;
    margin: 0px;
    overflow: hidden;
    display: flex;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.nav a:hover {
    color: black;
    text-shadow: 0 0 10px black;
}

.nav li {
    float: left;
}

.img1 {
    width: 350px;
    height: 350px;
    display: inline-block;
    padding-top: 30px;
    padding-left: 70px;
}

.h1 {
    text-align: center;
    padding-bottom: 60px;
}

.div1 {
    background-color: green;
    width: 1000px;
    height: 750px;
    border-radius: 10%;
    border: solid black;
    margin-top: 20px;
}

.div2 {
    background-color: green;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    border: solid black;
}

.div3 {
    background-color: green;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    border: solid black;
    box-shadow: 0 0 10px black;
    margin-top: -504px;
    margin-left: 600px;
}

.image2 {
    width: 350px;
    height: 350px;
    padding-left: 30px;
    margin-left: 20px;
}
